#chart {
    height: 400px;
    width: 100%;
    position: absolute;
    bottom: 20px;
    z-index: 1000;
    pointer-events: none;
}

#chart svg {
    pointer-events: none;
    
    @media screen and (max-width: 500px) {
    
    }
    
}

#chart *:not(.ct-point) {
    pointer-events: none;
}

.ct-series-c .ct-point {
    stroke: rgba(255,0,0,1);
    stroke-width: 8px;
    pointer-events: all;
    cursor: pointer;
    transition: all .2s ease;
    transform-origin: center;
    stroke-linecap: round;
    
    @media screen and (max-width: 500px) {
        stroke-width: 12px;
    }
}

.ct-series-c .ct-point:hover {
    stroke-width: 20px;
}

.ct-series-c .ct-point_active {
    stroke-width: 20px;
    pointer-events: none;
}

.ct-series-f {
    
    stroke: rgba(255,0,0, 1);
    fill: none;
    stroke-width: 2px;
    stroke-dasharray: 3;
    stroke-linejoin : round;
}

.ct-series-h {
    
    stroke: rgba(255,0,0, .4);
    fill: none;
    stroke-width: 2px;
    stroke-dasharray: 3;
    stroke-linejoin : round;
    
}

.ct-series-g {
    stroke: rgb(44, 145, 56); 
    fill: none;
    stroke-width: 2px;
    stroke-dasharray: 3;
    stroke-linejoin : round;
}

.ct-series-i {
    stroke: rgba(0, 0, 0, .4); 
    fill: none;
    stroke-width: 2px;
    stroke-dasharray: 3;
    stroke-linejoin : round;
}

.ct-series-c {
    
    stroke: rgba(255,0,0, 1);
    fill: none;
    stroke-width: 3px;
    
}

.ct-series-d {
    
    stroke: rgba(255,0,0, .8);
    fill: none;
    stroke-width: 2px;
    stroke-dasharray: 3;
}




.ct-series-d .ct-area {
    stroke: none;
    stroke-width: none;
    //fill: rgba(255,0,0, .1);
}

.ct-series-e {
    stroke: rgba(255, 0, 0, 0.4);
    stroke-width: 3px;
    fill: none;
}

.ct-series-a {
    stroke: rgba(0,0,0, 0.8); 
    fill: none;
    stroke-width: 3px;
}

.ct-series-b {
    stroke: rgb(44, 145, 56); 
    fill: none;
    stroke-width: 3px;
}

.ct-label {
    font-size: 11px;
    color: rgba(0,0,0,.8);
}

.ct-series .ct-label {
    display: none;
}

.ct-series-c .ct-label, .ct-series-f .ct-label:last-of-type {
    display: block;
    stroke: none;
    stroke-width: 0;
    fill: rgba(0,0,0,.8);
    font-size: 9px;
    
    @media screen and (max-width: 500px) {
        display: none;    
    }
}

.ct-series-f .ct-label:last-of-type {
    transform:translateX(-20px);
    font-size: 11px;
}


.ct-vertical {
    @media screen and (max-width: 500px) {
        display: none!important;    
    }
}


.ct-label.ct-vertical.ct-start {
    -webkit-box-align: flex-end;
    -webkit-align-items: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
    -webkit-box-pack: flex-end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: flex-end;
    justify-content: flex-end;
    text-align: right;
    text-anchor: end;
    display: flex;
}

.ct-label.ct-horizontal {
    display:flex;
}

.ct-label.ct-horizontal {
    opacity: 0;
}

.ct-label.ct-horizontal.visible {
    opacity: 1;
    transform: translate(-30px, 10px);
    width: 80px!important;
    text-align: center;
    white-space:nowrap;
    word-break: break-all;
    
}
