#chart {
    height: 300px;
    width: 100%;
    position: absolute;
    bottom: 20px;
    z-index: 1000;
    pointer-events: none;
}

#chart svg {
    pointer-events: none;
}

#chart *:not(.ct-point) {
    pointer-events: none;
}

.ct-series-c .ct-point {
    stroke: rgba(255,0,0,1);
    stroke-width: 10px;
    pointer-events: all;
    cursor: pointer;
    transition: all .2s ease;
    transform-origin: center;
    stroke-linecap: round;
}

.ct-series-c .ct-point:hover {
    stroke-width: 20px;
}

.ct-series-c .ct-point_active {
    stroke-width: 20px;
}

.ct-series-c {
    
    stroke: rgba(255,0,0, 1);
    fill: none;
    stroke-width: 3px;
    
}

.ct-series-d {
    
    stroke: rgba(255,0,0, .8);
    fill: none;
    stroke-width: 3px;
    
}

.ct-series-d .ct-area {
    stroke: none;
    stroke-width: none;
    fill: rgba(255,0,0, .2);
}

.ct-series-a {
    stroke: rgba(0,0,0, 0); 
    fill: none;
    stroke-width: 3px;
}

.ct-series-b {
    stroke: rgb(44, 145, 56); 
    fill: none;
    stroke-width: 3px;
}

.ct-label {
    font-size: 11px;
    color: rgba(0,0,0,.8);
}

.ct-series .ct-label {
    stroke: none;
    stroke-width: 0;
    fill: rgba(0,0,0,.8);
    font-size: 10px;
}

.ct-vertical {
    
}


.ct-label.ct-vertical.ct-start {
    -webkit-box-align: flex-end;
    -webkit-align-items: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
    -webkit-box-pack: flex-end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: flex-end;
    justify-content: flex-end;
    text-align: right;
    text-anchor: end;
    display: flex;
}

.ct-labels foreignObject[y="270"] span {
    opacity: 0;
}

.ct-labels foreignObject[y="270"] span.visible {
    opacity: 1;
    transform: translate(-40px, 10px);
    width: 80px!important;
    text-align: center;
    position: absolute;
    
}
