#chart, .chart {
    height: 380px;
    width: 100%;
    pointer-events: none;
}

#chart {
    position: absolute;
    bottom: 35px;
    z-index: 1000;
    width: 100%;
}

#chart svg, .chart svg {
    pointer-events: none;
    
    @media screen and (max-width: 500px) {
    
    }
    
}

#chart *:not(.ct-point), .chart *:not(.ct-point) {
    pointer-events: none;
}

.ct-cases .ct-point, .ct-newCases .ct-point {
    stroke: rgba(255,0,0,1);
    stroke-width: 8px;
    pointer-events: all;
    cursor: pointer;
    transition: all .2s ease;
    transform-origin: center;
    stroke-linecap: round;
    
    @media screen and (max-width: 500px) {
        stroke-width: 12px;
    }
}

.ct-cases .ct-point:hover, .ct-newCases .ct-point:hover {
    stroke-width: 20px;
}

.ct-cases .ct-point_active, .ct-newCases .ct-point_active {
    stroke-width: 20px;
    pointer-events: none;
}

.ct-predictCases {
    
    stroke: rgba(255,0,0, 1);
    fill: none;
    stroke-width: 2px;
    stroke-dasharray: 3;
    stroke-linejoin : round;
}

.ct-predictActive {
    
    stroke: rgba(255,0,0, .4);
    fill: none;
    stroke-width: 2px;
    stroke-dasharray: 3;
    stroke-linejoin : round;
    
}

.ct-predictRedcovered {
    stroke: rgb(44, 145, 56); 
    fill: none;
    stroke-width: 2px;
    stroke-dasharray: 3;
    stroke-linejoin : round;
}

.ct-predictDeaths, .ct-newDeathsInterpolated, .ct-predictNewDeaths {
    stroke: rgba(0, 0, 0, .4); 
    fill: none;
    stroke-width: 2px;
    stroke-dasharray: 3;
    stroke-linejoin : round;
}

.ct-cases, .ct-newCases, .ct-casesDetectability {
    
    stroke: rgba(255,0,0, 1);
    fill: none;
    stroke-width: 3px;
    
}

.ct-casesPerPopulation {
    stroke: rgba(255,0,0, 1);
    fill: none;
    stroke-width: 3px;   
}

.ct-newCasesInterpolated, .ct-predictNewCases {

    stroke: rgba(255,0,0, .8);
    fill: none;
    stroke-width: 2px;
    stroke-dasharray: 3;

}

.ct-newRecoveredInterpolated, .ct-predictNewRecovered {
    stroke: rgba(44, 145, 56, .8); 
    fill: none;
    stroke-width: 2px;
    stroke-dasharray: 3;
}

.ct-predictCases {
    
    stroke: rgba(255,0,0, .8);
    fill: none;
    stroke-width: 2px;
    stroke-dasharray: 3;
}

.ct-active {
    stroke: rgba(255, 0, 0, 0.4);
    stroke-width: 3px;
    fill: none;
}

.ct-deaths, .ct-mortalytyRate_1 {
    stroke: rgba(0,0,0, 0.8); 
    fill: none;
    stroke-width: 3px;
}

.ct-mortalytyRate_2 {
    stroke: rgba(0,0,0, 0.5); 
    fill: none;
    stroke-width: 3px;
}

.ct-mortalytyRate_3 {
    stroke: rgba(0,0,0, 0.5); 
    fill: none;
    stroke-width: 2px;
    stroke-dasharray: 3;
}

.ct-recovered {
    stroke: rgb(44, 145, 56); 
    fill: none;
    stroke-width: 3px;
}

.ct-label {
    font-size: 11px;
    color: rgba(0,0,0,.8);
}

.ct-series .ct-label {
    display: none;
}

.ct-series .ct-label, .ct-series .ct-label {
    display: none;
    stroke: none;
    stroke-width: 0;
    fill: rgba(0,0,0,.8);
    font-size: 9px;
    
    @media screen and (max-width: 500px) {
        display: none;    
    }
}

.ct-cases .ct-label_visible, .ct-newCases .ct-label_visible, .ct-casesDetectability .ct-label_visible, .ct-testPerPopulation .ct-label_visible, .ct-mortalytyRate_1 .ct-label_visible, .ct-mortalytyRate_2 .ct-label_visible {
    display: block;

    @media screen and (max-width: 500px) {
        display: none;    
    }
}

.ct-testPerPopulation {
    stroke: rgb(33, 150, 243);
    fill: none;
    stroke-width: 3px;
} 

.ct-age_0_17 {
    stroke:rgb(241, 113, 192);
    fill: none;
    stroke-width: 3px;
}

.ct-age_18_45 {
    stroke:rgb(9, 148, 50);
    fill: none;
    stroke-width: 3px;
}

.ct-age_46_65 {
    stroke:rgb(47, 33, 243);
    fill: none;
    stroke-width: 3px;
}

.ct-age_66_79 {
    stroke:rgb(255, 115, 0);
    fill: none;
    stroke-width: 3px;
}

.ct-age_80 {
    stroke:rgb(109, 21, 5);
    fill: none;
    stroke-width: 3px;
}


.ct-vertical {
    @media screen and (max-width: 500px) {
        display: none!important;    
    }
}


.ct-label.ct-vertical.ct-start {
    -webkit-box-align: flex-end;
    -webkit-align-items: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
    -webkit-box-pack: flex-end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: flex-end;
    justify-content: flex-end;
    text-align: right;
    text-anchor: end;
    display: flex;
}

.ct-label.ct-horizontal {
    display:flex;
}

.ct-label.ct-horizontal {
    opacity: 0;
}

.ct-label.ct-horizontal.visible {
    opacity: 1;
    transform: translate(-30px, 10px);
    width: 80px!important;
    text-align: center;
    white-space:nowrap;
    word-break: break-all;
    
}

#chart-controls {
    position: absolute;
    bottom: 30px;
    z-index: 1000;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

#chart-controls .leaflet-bar {
    font-size: 13px;
    display: flex;
    background: white;
    overflow: hidden;
}

#chart-controls .leaflet-bar > div {
    padding: 7px;
    cursor:pointer;
}

#chart-controls .leaflet-bar > div:hover {
    background-color: #f4f4f4;
}

#chart-controls .leaflet-bar > div.leaflet-disabled {
    cursor: default;
    pointer-events: none;
    background-color: #f4f4f4;
    color: #bbb;
}

#chart-controls .leaflet-bar > div.leaflet-disabled:hover {
    background-color: none;
}

#chart-controls .leaflet-bar > div {
    border-right: 1px solid #ccc;
}

#chart-controls .leaflet-bar > div:last-child {
    border-right:none;
}

.metrics-page .ct-point {
    opacity: 0;
    pointer-events: none;
    //display: none!important;
}

.metrics-page .ct-point.ct-point_hover {
    opacity: 1;
    stroke-width: 5px;
    stroke-linecap: round;
}

