#content {
    position: absolute;
    display: flex;
    z-index: 10000;
    width: 100vw;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    pointer-events: none;
    align-items: center;
}

.content__inner {
    width: 80vw;
    text-align: center;
    margin-top: 5vh;
    max-width: 680px;
    
    @media screen and (max-width: 500px) {
        width: 100vw;
        margin-top: 10vh;
    }
}

.content__date {
    font-size: 40px;
    font-weight: 800;
    
    @media screen and (max-width: 500px) {
        font-size: 28px;     
    }
}

.content__header {
    padding: 15px 0 5px 0;
    font-size: 24px;
    
    @media screen and (max-width: 500px) {
        font-size: 15px;
    }
}

.content__body {
    padding-top: 15px;
    display: flex;
    justify-content: space-evenly;
}

.content__body > div {
    width: 33%;
    pointer-events: all;
    font-size: 15px;
    
    @media screen and (max-width: 500px) {
        pointer-events: none;
        margin: 0 10px;
    }
}

.content__title {
    padding-bottom: 15px;
    font-size: 15px;
    
    @media screen and (max-width: 500px) {
        font-size: 12px;
        padding-bottom: 5px;
    }
}

.content__title span {
    position: relative;
    display: inline-block;
}

.content__value {
    font-size: 40px;
    font-weight: 800;
    
    @media screen and (max-width: 500px) {
       font-size: 28px;     
    }
    
}

.content__total {
    font-size: 15px;
    @media screen and (max-width: 500px) {
        font-size: 12px;
        padding-top: 5px;
    }
}

.content__title span:before {
    
}

.content__cases .content__title span:before {
    //background: rgba(255,0,0,1);
}

.content__recovered .content__title span:before {
    //background: rgba(67, 145, 57,1);
}

.content__deaths .content__title span:before {
    //background: rgba(0,0,0,1);
}

.content__footer {
    padding-top: 20px;
    line-height: 1.45;
    @media screen and (max-width: 500px) {
        font-size: 13px;
        padding-top: 5px;
        display: none;
    }
}

.content__news {
    font-size: 15px;
    padding: 0 50px;
}

.content__news a {
    
    pointer-events: all;
    color: rgb(0, 88, 191);
    text-decoration: none;
    margin-left: 10px;
    font-size: 13px;
}

span[data-legend] {
    position: relative;
    display: inline-block;
      
    
    @media screen and (max-width: 500px) {
        
    }
}

.content__total span {
    padding-bottom: 10px;   
    display: inline-block;
}


.content__total span:last-child {
    padding-bottom: 0;
}

span[data-legend] b:before {
    content:'';
    display:inline-block;
    position: absolute;
    width: 10px;
    height: 3px;
    transform: translate(-13px, 7px);
}

span[data-legend="total-cases"] b:before {
    background: rgba(255,0,0,1);
}

span[data-legend="current-cases"] b:before {
    background: rgba(255,0,0,.45);
}

span[data-legend="total-recovered"] b:before {
    background: rgba(67, 145, 57,1);
}

