body {
  font-family: sans-serif;
  margin:0;
  padding:0;
  overflow: hidden;
}

canvas {
  display: block;
}

#app {
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);

    position: absolute;
}
