#map {
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.leaflet-tile-container {
    
}

.leaflet-container .leaflet-control-attribution {
    color: rgba(255,255,255,.5);
    background: hsla(0,0%,100%,.2);
    margin: 4px;
    border-radius: 3px;
    font-size: 11px;
}

.leaflet-control-attribution a {
    text-decoration: none;
    color: #fff;
}

.leaflet-heatmap-layer {
    pointer-events: none;
}