#map {
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    position: absolute;
}

.leaflet-tile-container {

}

.leaflet-container .leaflet-control-attribution {
    color: rgba(255,255,255,.5);
    background: rgba(0, 0, 0, 0.5);
    margin: 4px;
    border-radius: 3px;
    font-size: 11px;
}

.leaflet-control-attribution a {
    text-decoration: none;
    color: #fff;
}

.leaflet-heatmap-layer {
    pointer-events: none;
}

.leaflet-bar {
    box-shadow: 0 0px 0px 3px rgba(0,0,0,.25);
    user-select: none;
}

.leaflet-control-play {
    background-image: url(../assets/play.svg);
    background-position: center;
    background-repeat: no-repeat;
}
