.screen {
    margin: 80px 0;
    line-height: 1.6;
    opacity: 0;
}

.screen_created {
    opacity: 1;
}

.screen .chart {
    position: relative;
    overflow: hidden;
}

.screen__description {
    margin: 0 40px 40px;
    max-width: 650px;
}

.screen__horisontalLine {
    position: absolute;
    top:0;
    left:0;
    width: 1px;
    height: 100%;
    border-left: 1px dotted rgba(0,0,0,0.5);
}

.screen__graph-description {
    font-size: 10px;
    min-width: 200px;
    transform: translate(5px, 5px); 
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    box-sizing: border-box;
    width: fit-content;
    position: absolute;
}

.screen__graph-description_right {
    transform: translate(-7px, 5px); 
    right: 0;
}

.screen__graph-description > div {
    word-break: keep-all;
    word-wrap: none;
    white-space: nowrap;
    padding: 5px;
}

.color:before {
    content: '';
    display: inline-block;
    margin: 0 5px 0 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.color-red:before {
    background-color:rgba(255,0,0, 1);
}

.color-red-light:before {
    background-color:rgba(255,0,0, .4);
}

.color-green:before {
    background-color:rgba(44, 145, 56, .8);
}

.color-black:before {
    background-color:rgba(0,0,0,.8);
}

.color-black-light:before {
    background-color:rgba(0,0,0,.4);
}

.color-blue:before {
    background-color:rgb(33, 150, 243);
}

.color-с_1:before {
    background-color:rgb(241, 113, 192);
}

.color-с_2:before {
    background-color:rgb(9, 148, 50);
}

.color-с_3:before {
    background-color:rgb(47, 33, 243);
}

.color-с_4:before {
    background-color:rgb(255, 115, 0);
}

.color-с_5:before {
    background-color:rgb(109, 21, 5);
}

.screen .ct-series .ct-label {
    display: none!important;
}

.screen__legend {
    font-size: 10px;
    display: flex;
    justify-content: center;
    margin: 20px;
    flex-wrap: wrap;
}

.screen__legend > div {
    display: inline-block;
    padding: 5px 10px;
}

.code {
    font-family: sans-serif;
    padding: 0 4px;
    border-radius: 3px;
    background-color: #feffd4;
    border: 1px solid #feffb8;
    display: inline-block;
}

.screen .ct-zero-line {
    stroke : rgba(0,0,0,0.2);
    stroke-width: 1px;
}

.screen__description b {
    white-space: nowrap;
    word-break: keep-all;
}