.screen {
    margin: 80px 0;
    line-height: 1.6;
}

.screen .chart {
    position: relative;
    overflow: hidden;
}

.screen__description {
    margin: 0 40px 40px;
}

.screen__horisontalLine {
    position: absolute;
    top:0;
    left:0;
    width: 1px;
    height: 100%;
    border-left: 1px dotted rgba(0,0,0,0.5);
}

.screen__graph-description {
    font-size: 10px;
    min-width: 200px;
    transform: translate(5px, 5px); 
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    box-sizing: border-box;
    width: fit-content;
    position: absolute;
}

.screen__graph-description_right {
    transform: translate(-7px, 5px); 
    right: 0;
}

.screen__graph-description > div {
    word-break: keep-all;
    word-wrap: none;
    white-space: nowrap;
    padding: 5px;
}

.color-red:before {
    content: '';
    display: inline-block;
    margin: 0 5px 0 0;
    background-color:rgba(255,0,0, 1);
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.color-red-light:before {
    content: '';
    display: inline-block;
    margin: 0 5px 0 0;
    background-color:rgba(255,0,0, .4);
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.color-green:before {
    content: '';
    display: inline-block;
    margin: 0 5px 0 0;
    background-color:rgba(44, 145, 56, .8);
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.color-black:before {
    content: '';
    display: inline-block;
    margin: 0 5px 0 0;
    background-color:rgba(0,0,0,.8);
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.color-black-light:before {
    content: '';
    display: inline-block;
    margin: 0 5px 0 0;
    background-color:rgba(0,0,0,.4);
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.color-blue:before {
    content: '';
    display: inline-block;
    margin: 0 5px 0 0;
    background-color:rgb(33, 150, 243);
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.screen .ct-series .ct-label {
    display: none!important;
}